.ProfileSettings h2 {
    color: rgb(31, 31, 31);
    padding-left: 20px;
}

.ProfileSettings .UserImg {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.ProfileSettings img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.ProfileSettings div {
    margin-bottom: 20px;
}

.ProfileSettings .Btn {
    margin: 0 auto;
    width: fit-content;
}