html {
    scroll-behavior: smooth;
}

body {
    margin-top: 50px;
}

hr {
    border-top: solid 1px rgb(221, 221, 221);
    border-bottom: none;
    margin: 0;
}

.Layout * {
    box-sizing: border-box;
    
}