
.Toolbar {
    z-index: 6;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}




.Toolbar ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.UserNavOptions {
   width: 130px;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.UserNavOptions img {
    object-fit: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.UserNavOptions i {
    font-size: 20px;
    color: rgb(255, 196, 0);
    cursor: pointer;
}

.UserNavOptions i:hover {
    color:rgb(255, 205, 111)

}

.NotificationNumber {
    font-size: 9px;
    position: absolute;
    top: -3px;
    right: -3px;
    color: rgb(247, 247, 247);
    background-color: rgb(255, 0, 0);

    border-radius: 2px;
    padding: 0 1px;
}



@media only screen and (max-width: 1280px) {
    .Toolbar {
        max-width: 90%;
    }

}

@media only screen and (max-width: 810px) {
    .Toolbar ul, .Searchbar {
        display: none;
    }
}

@media only screen and (max-width: 501px) { 
    .UserNavOptions {
        width: 120px;
     
     }

    .UserNavOptions img {
        width: 25px;
        height: 25px;
        
    }
    
    .UserNavOptions i {
        font-size: 18px;
    }
}
