.Button {
    position: relative;
    border-radius: 3px;
    background-color: rgb(255, 187, 60);
    padding: 7px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    transition: ease-in-out 0.2s;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    outline: none;
    border: 1px solid transparent;
    
}

.Button button {
    width: fit-content;
    font-size: 14px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.Button, .Button p  {
    color: rgba(29, 29, 29, 0.76) ;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}

.Button:hover {
    background-color: rgb(255, 209, 59);
}

.Button:active {
    top: 2px;
    right: 1px
}

.Danger, .Success {
    padding: 6px;
}

.Danger {
    background-color: rgb(236, 35, 35);
    color: white;
    
}

.Danger:hover {
    background-color: rgb(253, 37, 37);
}

.Success {
    background-color: rgb(34, 228, 34);
    
}

.Success:hover {
    background-color: rgb(41, 255, 41);
}

