
.Modal {
    overflow: hidden;
    padding: 15 0;
    box-sizing: border-box;
    border-radius: 4px;
    position: fixed;
    z-index: 5;
    background-color: rgb(245, 245, 245);
    max-width: 500px;
    max-height: 400px;
    left: calc(50% - 250px);
    top: 40%;
    width: 100%;
    transform: translateY(-600px);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.31); 
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.31);
    transition: ease-in-out 0.3s;
    opacity: 0;
}

.Modal div {
    display: flex;
}

.Modal .Content {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.Modal .Content div {
    margin-right: 10px;
}
.Modal .Content div:last-child {
    margin: 0;
}

.Modal.Active {
    transform: translateY(0);
    opacity: 100%;
}

.Modal .Title {
    border-bottom: 2px solid rgb(212, 212, 212);
}

.Modal .Title h3 {
    font-weight: 500;
    color: rgb(29, 29, 29);
    margin: 15px;
}


.Modal .Close {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    border-top: 2px solid rgb(212, 212, 212);
}

@media only screen and (max-width: 768px) {
    .Modal {
        width: 450px;
        left: calc(50% - 225px);
    }
}

@media only screen and (max-width: 501px) {
    .Modal {
        width: 350px;
        left: calc(50% - 175px);
    }
}