.ThreadsCategory {
    height: 45px;
    border: solid 1px;
    background-color: rgb(32, 32, 32);
    border-left-color: rgb(255, 166, 0);
    border-top-color: rgb(255, 115, 0);
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
}

.ThreadsCategory p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 186, 59);
    width: fit-content;
    margin-left: 20px;
}

.Thread h4 {
    color: rgba(0, 0, 0, 0.822);
    font-weight: 400;
}
.Thread {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left-color: rgb(255, 176, 29);
    border-left-width: 2px;
    padding-top: 20px;
    
}



.ThreadsBtn {
    display: flex;
    justify-content: flex-end;
}

.LocationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.PageLocation {
    margin-top: 15px;
}

.Btn {
    height: min-content;
}

.BtnMobile {
    display: none;
    padding: 0 15px;
    width: fit-content;
}


@media only screen and (max-width: 501px) {
    .ThreadsBtn {
        justify-content: flex-start;
        margin-bottom: 25px;
    }

    .Btn {
        display: none;
    }

    .BtnMobile {
        display: block;
    }

    .LocationBar, .PageLocation {
        margin-left: 10px;
    }


}

