.Location {

    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 2px;
    width: fit-content;
    padding: 0 15px;
    background-color: rgb(243, 243, 243);
}

.Location div { 
    display: flex;
    align-items: center;
}


.Location p, a {
    font-size: 13px;
    font-weight: light;
    color: rgb(121, 121, 121);
    
}
.Location a {
    text-decoration: none;
}

.Location a:hover {
    text-decoration: underline;
}

.Location .Current {
    font-weight: bold;
    color: rgb(49, 49, 49);
   
}


.Location ul {
    display: flex;
    list-style: none;
}

.Location i {
    margin: 0 8px;
    font-size: 11px;
    color: grey;
}
