.Post {
    display: flex;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
}

/*BBCode*/
.Post blockquote {
    margin: 8px 0;
    border-left: 2px solid rgb(255, 174, 0);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-top: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    padding: 7px 15px;
    font-size: 15px;
    color: rgb(31, 31, 31);
}

.Post blockquote small {
    display: block;
    margin-bottom: 5px;
    color: rgb(63, 63, 63);
}

.Post .Content .ContentBox blockquote img {
    max-width: 250px;
    margin: 5px 0;
}


.UserDetails {
    padding: 15px;
    padding-bottom: 3px;
    min-width: 170px;
    max-width: 170px;
    background-color: rgb(39, 39, 39);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 307px;
}

.UserDetails img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.UserDetails a {
    font-size: 16px;
}

.UserDetails a:hover {
    text-decoration: underline;
    color: orange;
}

.UserDetails h4 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 174, 24);
}

.UserDetails div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.UserDetails .UserDetailsBox {
    display: flex;
    flex-direction: column;
}

.UserDetails i {
    font-size: 14px;
    color: rgba(214, 213, 213, 0.795);
}

.UserDetails p {
    font-size: 13px;
    font-weight: 500;
    color: rgb(201, 201, 201);

}

.Content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    color: rgb(37, 37, 37);
}


.Content div  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Content .ContentBox {
    margin-bottom: 25px;
}

.Content .ContentBox {
    display: flex;
    flex-direction: column;
}

.Content .ContentArea {
    display: block;
    margin: 0;
    word-wrap: break-word;
    white-space: pre-line;

}

.Content .ContentArea img{
    margin: 10px 0;
}

.Content .ContentArea a {
    color: rgb(0, 125, 141);
    text-decoration: underline;
}

.Content .ContentBox  img{
    max-width: 100%;
    width: min-content;
    height: auto;

}

.Content .PostInf p{
    white-space: nowrap;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.548);
}



.UserActions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.UserActions .Actions, .UserActions .Action, .Content .UserActions {
    margin-bottom: 0;
}

.Action {
    display: flex;
    margin-right: 25px;
    height: fit-content;
    margin-bottom: 0;
    align-items: center;
}

.Action:hover, .Action:hover i, .Action:hover p {
    color: rgb(34, 34, 34);
    cursor: pointer;
}


.Action i {
    line-height: 11px;
    font-size: 11px;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.527);
}

.Action p {
    color: rgba(0, 0, 0, 0.527);
    font-size: 13px;
    cursor: pointer;
}

.Action.Active p, .Action.Active i{
    color: rgb(0, 86, 136);
}


@media only screen and (max-width: 767px) {
    .Post {
        flex-direction: column;
        border-radius: 0;
        border: 1px solid rgb(214, 214, 214)
    }


    .Post blockquote {
        font-size: 13px;
    }
    
    .Post .Content .ContentBox blockquote img {
        max-width: 150px;
    }

    .Content .PostInf p{
        font-size: 12px;
        
    }

    .Content .ContentArea {
        font-size: 14px;
    }
    
    .UserDetails {
        max-width: 100%;
        display: flex;
        padding: 10px;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        min-height: 60px;
    }

    .UserDetails h4 {
        text-align: left;
        display: block;
        margin: 0;
        height: fit-content;
        
    }

    .UserDetails a {
        height: 44px;
    }
    
    .UserDetails .UserDetailsBox {
        display: flex;
        flex-direction: row;
        position: relative;
        right: 68px;
        top: 30px;
        min-width: 250px;
    }
    
    
    .UserDetails img {
        width: 45px;
        margin-right: 20px;
    }
    
    .UserDetails div {
        display: flex;
        justify-content: space-between;
        height: fit-content;
        margin: 0;
    }

    .UserDetails p {
        font-size: 12px;
        margin-left: 2px;
    
    }

    .UserDetails i {
        font-size: 14px;
        margin-right: 5px;
        color: rgb(165, 165, 165);
    }

    .Content {
        padding-top: 5px;
        padding: 10px;
        min-height: 130px;
    }


    .Action {
       margin-right: 15px;
    }
    .Action:last-child {
        margin: 0;
     }
    
    .Action i {
        line-height: 11px;
        margin-right: 2px;
        font-size: 12px;
        
    }
    
    .Action p {
        line-height: 11px;
        font-size: 13px;
    }
}