.Post {
    display: flex;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;

   
}

/*BBCode*/
.Post blockquote {
    margin: 8px 0;
    border-left: 2px solid rgb(255, 145, 0);
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    padding: 7px 15px;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.Post blockquote small {
    display: block;
    margin-bottom: 5px;
    color: gray;
}


.UserDetails {
    padding: 15px;
    padding-bottom: 3px;
    min-width: 170px;
    max-width: 170px;
    background-color: rgb(39, 39, 39);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.UserDetails img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.UserDetails h4 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 174, 24);
}

.UserDetails div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.UserDetails .UserDetailsBox {
    display: flex;
    flex-direction: column;
}

.UserDetails i {
    font-size: 14px;
    color: rgba(214, 213, 213, 0.795);
}

.UserDetails p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(201, 201, 201);

}

.Content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    word-wrap: break-word;
}

.Content p {
    color: rgb(29, 29, 29);
}

.Content div  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Content .ContentBox {
    display: flex;
    flex-direction: column;
}

.Content .PostInf p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.548);
}



.UserActions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.UserActions .Actions, .UserActions .Action, .Content .UserActions {
    margin-bottom: 0;
}

.Action {
    display: flex;
    margin-right: 30px;
    height: fit-content;
    margin-bottom: 0;
}

.Action:hover, .Action:hover i, .Action:hover p {
    color: rgb(34, 34, 34);
    cursor: pointer;
}


.Action i {
    font-size: 14px;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.527);
}

.Action p {
    color: rgba(0, 0, 0, 0.527);
    font-size: 13px;
    cursor: pointer;
}

.Action.Active p, .Action.Active i{
    color: rgb(0, 86, 136);
}


@media only screen and (max-width: 676px) {
    .Post {
        flex-direction: column;
        border-radius: 0;
        border: 1px solid rgb(214, 214, 214)
    }
    .Content .PostInf p{
        font-size: 11px;
        
    }
    
    .UserDetails {
        max-width: 100%;
        display: flex;
        padding: 10px;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .UserDetails h4 {
        text-align: left;
        display: block;
        margin: 0;
        height: fit-content;
        
    }
    
    
    .UserDetails .UserDetailsBox {
        display: flex;
        flex-direction: row;
        position: relative;
        right: 70px;
        top: 30px;
        min-width: 250px;
    }
    
    
    .UserDetails img {
        width: 50px;
        margin-right: 10px;
    }
    
    .UserDetails div {
        display: flex;
        justify-content: space-between;
        height: fit-content;
        margin: 0;
    }

    .UserDetails p {
        font-size: 12px;
        margin-left: 2px;
    
    }

    .UserDetails i {
        font-size: 14px;
        margin-right: 5px;
        color: rgb(165, 165, 165);
    }

    .Content {
        padding-top: 5px;
        padding: 10px;
        min-height: 105px;
    }

    .Content p {
        font-size: 14px;
    }

    .Action {
       margin-right: 15px;
    }
    
    .Action i {
        margin-right: 2px;
        font-size: 12px;
        
    }
    
    .Action p {
        font-size: 12px;
    }
}