.HamburgerToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 20px;
    display: none;
}

.HamburgerToggle  div {
    height: 2px;
    width: 30px;
    background-color: rgb(255, 200, 81);
}

@media only screen and (max-width: 810px) {
    .HamburgerToggle {
        display: flex;
    }
}