.HamburgerToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 18px;
}

.HamburgerToggle  div {
    height: 3px;
    width: 22px;
    background-color: rgb(255, 187, 0);
    border: solid 1px rgb(255, 115, 0);
    border-width: 0 0 1px 0;
    
}
