.Notifications {
    background-color: rgb(250, 250, 250);
    border-left: 2px solid orange;
    border-top: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.PageLocation {
    margin-top: 15px;
}


@media only screen and (max-width: 501px) {   
    .PageLocation {
        margin-left: 10px;
    }

    
   
}