.ValidationMsgs {
    background-color: rgb(240, 240, 240);
    width: fit-content;
    transition: ease-in-out 0.2s;
    padding: 10px;
    margin: 10px auto;
    border-radius: 3px;
}
.ValidationMsgs p {
    color: rgb(250, 250, 250);
    font-weight: 500;
    margin: 0;
}

.ValidationMsgs.Success {
  
    background-color: rgb(14, 119, 0);
}
.ValidationMsgs.Success p {
    color: rgb(250, 250, 250);
}

.ValidationMsgs.Danger {
    background-color: rgb(146, 9, 9);
}
.ValidationMsgs.Danger p {
    color: rgba(250, 250, 250);
}