.Thread * {
    margin: 0;
}

.ThreadTitle {
    font-size: 22px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

.Location {
    margin-bottom: 10px;
}


@media only screen and (max-width: 676px) {
    .ThreadTitle {
        font-size: 18px;
    }
    
}