.Thread * {
    margin: 0;
}

.Thread .Post {
    margin-bottom: 15px;
}

.Thread .Post:last-child {
    margin-bottom: 15px;
}

.ThreadTitle {
    font-size: 22px;
    font-weight: 500;
    color: rgb(29, 29, 29);
    word-wrap: break-word;
}

.NewPost {
    margin-top: 15px;
}

.LocationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}



@media only screen and (max-width: 676px) {
    .ThreadTitle {
        font-size: 18px;
    }
    
    .Thread .Post {
        margin-bottom: 17px;
    }
}

@media only screen and (max-width: 501px) {
    .ThreadTitle {
        font-size: 17px;
        margin-left: 10px;
    }
    .PageLocation {
        margin-left: 10px;
    }
    
    .LocationBar {
        margin-left: 10px;
    }
}