.NewPost .Content {
    background-color: rgb(238, 238, 238);
    border-left: 2px solid orange;
    border-top: 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.NewPost .Textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(39, 39, 39);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;
    resize: none;
    
}

.NewPost textarea:focus {
    border: none;
    outline:none;
}

.NewPost .BBbar {
    display: flex;
    position: relative;
    background-color: rgb(39, 39, 39);
    padding: 7px 10px;
    border-left: 2px solid rgb(255, 136, 0);
    border-top: 2px solid rgb(255, 136, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 3px;

}

.NewPost .BBItem {
    position: relative;
} 

.NewPost .BBItem div p {
    border-radius: 2px;
    background-color: rgb(29, 29, 29);
    color: rgb(219, 219, 219);
    padding: 3px;
    font-weight: 500;
    font-size: 14px;
    display: none;
    position: absolute;
    width: max-content;
    
}

.NewPost .BBItem:hover p {
    display: block;
    
}

.NewPost .BBbar i {
    color: rgb(219, 219, 219);
    margin-right: 20px;
    font-size: 17px;
}

.NewPost .BBbar i:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}


.NewPost .Btn {
    position: absolute;
    right: 25px;
    bottom: calc(50% - 14px);
}

.EmojiPicker {
    position: absolute;
    right: calc(50% - 120px );
    width: 600px;
    z-index: 6;
    
}

.EmojiAlert {
    width: 200px;
    position: absolute;
    right: calc(50% - 100px);
    z-index: 7;
    background-color: rgb(243, 243, 243);
    text-align: center;
    border-radius: 3px;

}

.EmojiAlert p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(97, 97, 97);
}

.Disable {
    display: none;
}

@media only screen and (max-width: 1000px ) {
    .NewPost .Textarea {
        font-size: 14px;
    }
    .EmojiPicker {
        right: calc(50% - 100px );
        width: 400px;
        
    }

}

@media only screen and (max-width: 600px ) {
    .EmojiPicker {
        right: calc(50% - 175px );
        width: 350px;
        
    }
}