
.Auth .Btn {
    margin-top: 25px;
}

.Auth .Anchor  {
    font-size: 14px;
    font-weight: 500;
    color: rgb(36, 65, 128);
    width: fit-content;
    position: relative;
    left: 70%;
    
}

.Auth div {
    height: fit-content;
    margin-bottom: 15px;
}

.Auth  h2{
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
    

}

.Auth {
    width: 300px;
    margin: 0 auto;
}

.Auth .Logo {
    margin: 0 auto 30px auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    padding: 10px ;
    background-color: rgb(32, 32, 32);

    border-radius: 5px;
}

.Auth .Logo img {
    width: 100%;
}