.Auth .Btn {
    margin-top: 25px;
}

.Auth .Anchor  {
    font-size: 14px;
    font-weight: 500;
    color: rgb(36, 65, 128);
    position: relative;
    left: 70%;
    
}

.Auth div {
    height: fit-content;
    margin-bottom: 15px;
}

.Auth  h2{
    color: rgb(29, 29, 29);
    font-weight: 500;
    margin-bottom: 20px;
    

}

.Auth span {
    font-weight: 900;
    color: orange;
    position: relative;
    left: 30px;
    
}

.Auth {
    width: 300px;
    margin: 0 auto;
}

